<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cst.stormdroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Android Junit Test -->
        <uses-library android:name="android.test.runner" />
    </application>

    
    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Android Junit Test -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.cst.stormdroid"
        android:label="Tests for My App" />

</manifest>